<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <meta http-equiv="Content-Security-Policy" content="style-src 'self' 'unsafe-inline';">
        <title></title>

        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>

        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>

        <!-- your app's js -->
        <script src="js/index.js"></script>
    </head>
    <body ng-app="index">
        <div ng-controller="indexController">
            <ion-pane>
               <div>
                  <div class="bar bar-header bar-light">
                     <h1 class="title">Conversor</h1>
                  </div>

                  <div class="list">
                     <label class="item item-input item-stacked-label">
                     <span class="input-label">Peso</span>
                     </label>
                  </div>

                  <div class="list">
                     <label class="item item-input item-stacked-label">
                     <span class="input-label">Peso</span>
                     <input type="text" placeholder="" value=""
                        name="nr_qtd_peso" id="nr_qtd_peso"
                        ng-model="nr_qtd_peso">
                     </label>

                     <label class="item item-input item-stacked-label">
                        <span class="input-label">Taxa</span>
                        <input type="text" placeholder="" value="0,0003443"
                           name="nr_qtd_taxa" id="nr_qtd_taxa"
                           ng-model="nr_qtd_taxa"
                           ng-init="nr_qtd_taxa='0,0003443'">
                     </label>
                  </div>

                  <div class="row">
                    <div class="col">
                      <button class="button button-block button-royal"
                         ng-click="taxaPeso()">
                      Taxa Peso
                      </button>
                    </div>
                    <div class="col">
                      <button class="button button-block button-dark"
                         ng-click="taxaDola()">
                      Taxa Dolar
                      </button>
                    </div>
                </div>

                  <div class="list">
                     <label class="item item-input item-stacked-label">
                        <span class="input-label">Conversao</span>
                        <select name="ds_conversao"
                            ng-model="ds_conversao"
                            ng-init="ds_conversao='*'"
                            >
                            <option value="*" selected="selected">Peso para Dolar</option>
                            <option value="/">Dolar para Peso</option>
                        </select>
                     </label>
                  </div>

                  <button class="button button-block button-positive"
                     ng-click="converter()">
                  OK
                  </button>

                  <div class="list">
                     <label class="item item-input item-stacked-label">
                        <span class="input-label">Resultado</span>
                        <input type="text" placeholder="" value=""
                           name="nr_qtd_valor" id="nr_qtd_valor"
                           ng-model="nr_qtd_valor">
                     </label>
                  </div>
               </div>





            </ion-pane>
        </div>
    </body>
</html>
